body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header__input {
  background: #ffffff;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #bbc4d6;
  padding: 12px;
  width: 58%;
}
.header__user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #768298;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.page__title {
  font-family: "Roboto";
  text-transform: uppercase;
  color: #121920;
  font-weight: 500;
  font-size: 28px;
}

.page__cards {
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.page__card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  min-height: 120px;
  max-height: 140px;
  padding: 6%;
}

.page__card:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
  cursor: pointer;
}

@media (max-width: 1440px) {
  .page {
    padding: 70px 100px;
  }

  .page__cards {
    gap: 30px;
  }
  .page__card {
    width: 287.5px;
  }
}

@media (max-width: 1440px) {
  .page {
    padding: 70px 100px;
  }

  .page__cards {
    gap: 30px;
  }
  .page__card {
    width: 287.5px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 70px 20px;
  }

  .page__cards {
    gap: 20px;
  }

  .page__card {
    width: 229px;
  }

  .page__img {
    width: 183px;
  }
}

@media (max-width: 376px) {
  .page {
    padding: 70px 20px;
  }

  .page__cards {
    justify-content: center;
  }
  .page__card {
    width: 335px;
    height: 140px;
  }
}
